@import "tailwindcss";

@keyframes scroll {
  0% { transform: translateY(0); opacity: 1; }
  50% { transform: translateY(6px); opacity: .4; }
  100% { transform: translateY(0); opacity: 1; }
}

.animate-scroll {
  animation: scroll 1.8s ease-in-out infinite;
}


@font-face {
  font-family: "Ramilas";
  src: url("/public/font/TT\ Ramillas\ Trial\ Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Stack Sans Notch", sans-serif;
  font-weight: 200;
  background-color: #000;
  color: #D6D3D1;
}