@import "tailwindcss";

@font-face {
  font-family: "Ramilas";
  src: url("/public/font/TT\ Ramillas\ Trial\ Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Helvetica, sans-serif;
}


.light {
  background-color: #ffffff;
  color: #111111;
}

.dark {
  background-color: #000;
  color: #ffffff;
}

body,
.light,
.dark {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* @layer components {
  .paragraph-line {
    @apply text-nowrap overflow-hidden;
  }
} */